body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: rgb(226, 212, 228);
  color: rgb(53, 52, 52);
  margin: 0;
}

@media (max-width: 767px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: rgb(226, 212, 228);
    color: rgb(53, 52, 52);
    margin: 0;
  }
}

header {
  background-image: url("/images/hero-med.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgba(255, 145, 180, 0.738);
}

@media (max-width: 727px) {
  header {
    background-image: url("/images/hero-med.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 145, 180, 0.738);
  }
}

main {
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 727px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
  }
}

footer {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.skip_link {
  float: left;
}

.title_and_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: max-content;
}

@media (max-width: 727px) {
  .title_and_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: max-content;
  }
}

.title {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 727px) {
  .title {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

a {
  color: #ff00b3;
}

nav {
  font-size: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: white;
}

@media (max-width: 727px) {
  nav {
    font-size: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
    background-color: white;
  }
}

/*pseudoklassid*/

a:hover,
a:focus,
a:active {
  color: teal;
  outline: 2px rgb(255, 0, 43);
}

p::first-letter {
  font-weight: bold;
  font-size: larger;
}

/*headerid*/

h1 {
  color: rgb(255, 255, 255);
  margin: 50px;
  font-size: 7vw;
  /*
  font-size: 4rem;
  */
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

@media (max-width: 727px) {
  h1 {
    color: rgb(255, 255, 255);
    margin: 50px;
    font-size: 3.5rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }
}

h2 {
  color: rgb(172, 0, 80);
  padding-left: 20px;
  padding-top: 30px;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
}

h3 {
  color: rgb(175, 69, 131);
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

@media (max-width: 727px) {
  h3 {
    color: rgb(175, 69, 131);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
  }
}

/*pildid*/

.pictures {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: repeat(2 1fr);
  gap: 10px;
  justify-content: center;
}

@media (max-width: 727px) {
  .pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
  }
}

.grid_title {
  grid-column: 1 / span 2;
  background-color: rgb(255, 101, 229);
  justify-self: center;
}

@media (max-width: 727px) {
  .grid_title {
    background-color: rgb(255, 101, 229);
    text-align: center;
  }
}

.pic1 {
  grid-column-start: 1;
  grid-row: 2;
  background-color: rgb(184, 6, 145);
  justify-self: center;
}

.pic2 {
  grid-column-start: 2;
  grid-row: 2;
  background-color: rgb(233, 57, 124);
  justify-self: center;
}

#orange_cat_small {
  width: 300px;
  height: min-content;
  object-fit: cover;
}

@media (max-width: 727px) {
  #orange_cat_small {
    width: 100%;
    height: min-content;
  }
}

#ottopix2 {
  width: 300px;
  height: min-content;
  object-fit: cover;
}

@media (max-width: 727px) {
  #ottopix2 {
    width: 100%;
    height: max-content;
  }
}

svg {
  stroke-width: 3px;
  stroke: black;
  fill: rgb(192, 241, 255);
}

#download_icon {
  width: 50px;
}

/*värvid*/
#hexcol {
  background-color: #ff0000;
}

#hexcoltrans {
  background-color: #ff000050;
}

#rbgcol {
  background-color: rgb(0, 255, 0);
}

#rgbacol {
  background-color: rgba(0, 255, 0, 0.5);
}

#hslcol {
  background-color: hsl(240, 100%, 50%);
}

#hslacol {
  background-color: hsla(240, 100%, 50%, 0.5);
}

#currentcol {
  color: blueviolet;
  border: 5px solid currentColor;
}

/*kaardid*/

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

/*visiitkaart ja footer*/

.to_top {
  float: right;
}

.visiitkaart {
  border-radius: 30px;
  border: 4px solid rgb(255, 192, 216);
  margin: 10px;
  display: grid;
  grid-template-columns: min-content;
  width: 270px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: #aa1a90;
  color: rgb(255, 192, 216);
}

#pfp {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid rgb(255, 143, 186);
  float: left;
  margin: 10px;
  grid-row: 1 / span 2;
  object-fit: cover;
}

.username {
  font-weight: bold;
  grid-row: 1;
  justify-self: center;
}

.email {
  grid-row: 2;
  justify-self: center;
}
